#ggh{
    background-color: grey !important;
    border-top-left-radius: 25px;
}
#gg{
    background-color: grey !important;
}
#ggd{
    background-color: grey !important;
    border-top-right-radius: 25px;
}